.nav{
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    background-image: url("../pictures/black-back.webp");
    color: white;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.nav > h1 {
    font-family: 'Chivo', 'Exo', sans-serif;
    font-size: 22px;
    grid-column: 2;
}
.active{
  border: 1px solid white;
  border-radius: 20%;
  padding: 2.5px;
}
a{
    font-family: 'Chivo', 'Exo', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 100;
    text-decoration: none;
    margin-right: 15px;
}
a:hover{
    font-weight: bold;

}
.navbar{
    grid-column: 3;
}
.main{
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 450px;
}
.main > p{
    grid-column: 3;
    grid-row: 1;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    justify-self: center;
    align-self: center;
    overflow: hidden;

}
.main > h1{
    grid-column: 3;
    grid-row: 1;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    padding-bottom: 20px;

}
body{
    background-color: #28282B	;
}
p{
    color: white;
}
h2{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    padding-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s steps(73),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent}
}
@keyframes typing {
    from {width: 0}
}
img{
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-color: grey;
    padding: 6px;
    border-style:double;
    border-width: 5px;
}
.snorkle{
    display: grid;
    grid-template-columns: 50% 50%;
}
.snorlax{
    grid-column: 1;
    grid-row: 1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-color: grey;
    padding: 6px;
    border-style:double;
    border-width: 5px;
    justify-self: center;
}
.line{
    display:inline-block;
    margin-left: 150px;
}
.textbox{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}
.popup{
    grid-row: 2;
    grid-column: 1;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.icon{
    margin-top: -16px;
    margin-left: 40px;
    grid-column: 1;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 5px;

}
.projectcards{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}
.container {
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 550px;
    height: 300px;
    perspective: 800px;
  }
  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front1, .front2, .front3, .front4,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  .back > h1{
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Chivo', 'Exo', sans-serif;
    line-height: 1.5;
  }
  .back > p {
    color: white;
    font-size: 18px;
    font-family: 'Chivo', 'Exo', sans-serif;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
  }
  .front1{
    background-image: url("../pictures/ultima.png");
    background-size: cover;
  }
  .front2{
    background-image: url("../pictures/stellantis2.avif");
    background-size: cover;
  }
  .front3{
    background-image: url("../pictures/bluebird.png");
    background-size: cover;
  }
  .front4{
    background-image: url("../pictures/juniorjava.png");
    background-size: cover;
  }
  .back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .split{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .resume{
    grid-column: 1;
    justify-self: center;
    align-self: center;
  }
  h3{
    text-align: center;
    font-size: 25px;
    font-family: bold;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    padding-bottom: 20px;
  }
  .info{
    align-self: center;
    justify-self: center;
    grid-column: 2;
    line-height: 1.5;
    padding: 10px;
  }
  .info > h4{
    text-align: left;
    font-size: 20px;
    font-family: bold;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    padding-bottom: 20px;
  }
  .info > p{
    text-align: left;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Chivo', 'Exo', sans-serif;


  }
  li{
    text-align: center;
    font-size: 16 px;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
    font-family: 'Chivo', 'Exo', sans-serif;
    padding-bottom: 20px;
  }
